extends layout

block content
  .row
      .bgimg-1
        .caption
          span.border Welcome to CollabSpace

  .row
      .black-bg
        h3.center Class Groups
        h4.center Everyone in your classes. In one place

  .row
      .bgimg-2
        .caption
          span.border.description Collaborate Easily

  .row
      .black-bg
        h3.center Tutoring
        h4.center Our algorithms match you with a tutor when you need it

  .row
      .bgimg-3
        .caption
          span.border.description Meet Efficiently

  .row
      .black-bg
        h3.center Collaboration
        h4.center Organize meetups and work with classmates

  .row
      .bgimg-1
        .caption
          span.border.description Increase Productivity

  h2 © 2016 CollabSpace. All Rights Reserved

  

  
