extends layout

block content
  .row
    .bgimg-1
      .caption
        span.border Become a part of Tutoring, Trajan
  .row
    .black-bg
      h3.center Become a part of Interactive Tutoring.
      h4.center 
        button(type="button" class="btn btn-warning") Become a Tutor
        button(type="button" class="btn btn-warning") Find a Tutor
  .row
    .bgimg-2
      .caption
        span.border.description
  .row 
    .bgimg-3
      .caption
        span.border.description Meet Efficiently
  .row
    .black-bg
      h3.center Collaboration
      h4.center Organize meetups and work with classmates
  .row
    .bgimg-1
      .caption
        span.border.description Increase Productivity
  .row
    .black-bg
      .caption
        
