doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - CollabSpace
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')

  body
    div(style=style="width: 600px; height: 400px;")#aww-wrapper
    script(src="https://awwapp.com/static/widget/js/aww.min.js")
    script(type="text/javascript").
      var aww = new AwwBoard('#aww-wrapper', {
        apiKey: 'fa6aca94-7023-4206-ac11-1baa8b110451'
        });

 
script(src='/js/lib/jquery-2.2.4.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')


