body, html {
  height: 100%;
  margin: 0;
  /*font: 400 15px/1.8 "Lato", sans-serif; //sans-serif*/
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: .90;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("hackcmu/earthsemicircle.jpg");
  min-height: 800px; //100
}

.bgimg-2 {
  background-image: url("hackcmu/galaxy2.jpg");
  min-height: 800px; // 400
}

.bgimg-3 {
  background-image: url("hackcmu/milkywet.jpg");
  min-height: 800px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.border {
  background-color: transparent;  
  color: #fff;
  padding: 18px;
  font-size: 75px;
}

h3 {
  font: 40px "Arial Narrow", sans-serif; //parallax demo 
  color: #111;
}
h4 {
  font: 20px "Arial Narrow", sans-serif; //parallax demo 
  color: #111;
}


.black-bg {
  color: white;
  background-color:#454545;
  text-align:center;
  padding:120px 80px;
  text-align: justify;
  position:relative;
}

.transparent {
  background-color: transparent;
}

.description {
  font-size:35px; 
}

.center {
  text-align: center;
}
